@tailwind base;
@tailwind components;
@tailwind utilities;

 
  .cursor {
    background-color: #FFAAFF;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  :root {
    --primary: #561ab1;
    --secondary: #fb8463;
  }
 
